@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-primario: aqua;
    
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
}

.header{
        padding: 2% 0% 0% 16%;

}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: "Montserrat", sans serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primario);
    text-decoration: none;
}

strong {
    color: #4C7B8B;
}



.presentacion{
    display: flex;
    align-items: center;
    padding: 9.5% 16%;
    justify-content: space-between;
}

.presentacion_contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.presentacion_contenido_titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.titulos-destaque{
    color: #ff1100ab;
}

.presentacion_contenido_texto{
    font-family: "Montserrat", serif;
    font-size: 24px;
    text-align: justify;
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo{ 
    font-family: 'Krona One', san serif;
    font-size: 24px;
    font-weight: 400;

}

.presentacion_enlaces_link{
    width: 378px; 
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color:aqua;
    border: 2px solid  aqua;
    display: flex;
    justify-content: center;
    gap: 10px
}

.presentacion_enlaces_link:hover{
    background-color: #272727;
}

.footer{
    background-color: rgb(255, 8, 0);
    padding: 24px;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: #22D4FD;
}